@media only screen and (min-width: 38rem) {
    #content {

        max-width: 1600px;
        margin: 0 auto;

    }

    footer {

      grid-template-columns: auto auto  auto;
       
       
    }

    .cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}

    .list .card {

        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr; 
        /* margin: 0;
        padding: 0.25rem; */
    
    
    }
/*MENU STUFF*/
    #myButton {

        display: none;
    }

    ul.menuLinks,
    ul.menuLinks.open {

        display: flex;
        justify-content: flex-end;

    }

    nav {

        grid-template-rows: 1fr;
    }

    #planning {

        display: grid;
        grid-template-columns: 2fr 1fr 1fr ; 
    }


}